:root {
  --lime-400: #a3e635;
  --lime-600: #65a30d;
  --lime-700: #4d7c0f;
  --gris: #fafafa;
  --gris-oscuro: #8a8a8a;
}

body,
div,
nav {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.7rem 1rem;
  font-weight: 600;
  cursor: pointer;
}

.d-flex {
  display: flex;
  gap: 15px;
}

#content {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 44px 100px 1fr;
  position: relative;
  transition: all 0.2s;
}

/*nav bar top */

nav {
  background-color: var(--lime-600);
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  left: 0;
  justify-content: space-between;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

nav a {
  color: #fff;
  padding: 0.2rem;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/*navbar top left side  */

.nav-l {
  align-items: center;
}

.nav-l > div {
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 0 0.2rem;
}

.nav-l > div > input {
  background-color: #00000000;
  color: #000;
  border: none;
  outline-style: none;
}

.nav-l .search-input a svg {
  color: #000;
}

/* custom hamburguer menu */
#menu {
  background-color: #0000;
}

#menu:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.bar {
  cursor: pointer;
}

.bar > div {
  width: 20px;
  height: 2px;
  background-color: #fff;
  margin: 4px 0;
  border-radius: 3px;
  box-shadow: 1px 2px 10px 0px #0005;
  transition: all 0.5s;
}

.bar-1.movement {
  transform: translateY(275%) rotate(45deg);
}

.bar-1 {
  animation: bar1Backward 1s ease backwards;
  z-index: 2;
}

@keyframes bar1Backward {
  0% {
    transform: translateY(275%) rotate(45deg);
  }
  50% {
    transform: translateY(275%);
  }
  100% {
    transform: translateY(0);
  }
}

.bar-1.movement {
  animation: bar1Forward 1s ease forwards;
}

@keyframes bar1Forward {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(275%);
  }
  100% {
    transform: translateY(275%) rotate(45deg);
  }
}

.bar-3 {
  animation: bar3Backward 1s ease backwards;
  z-index: 2;
}

@keyframes bar3Backward {
  0% {
    transform: translateY(-275%) rotate(135deg);
  }
  50% {
    transform: translateY(-275%);
  }
  100% {
    transform: translateY(0);
  }
}

.bar-3.movement {
  animation: bar3Forward 1s ease forwards;
}

@keyframes bar3Forward {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-275%);
  }
  100% {
    transform: translateY(-275%) rotate(135deg);
  }
}

.bar-2.movement {
  transform: scaleX(0);
}

/*navbar top right side  */

.nav-r {
  align-items: center;
}

/* white overlay */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff44;
  z-index: 5;
}

/* New task window */

#new-task {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  max-width: 550px;
  width: 100%;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0px 0px 35px 2px #00000040;
}

#new-task > form {
  padding: 1rem 3rem;
  flex-direction: column;
}

#new-task > form > div {
  margin: 0.3rem 0;
}

#new-task > form input {
  border: none;
  outline-style: none;
}

#new-task > form #task-name {
  font-size: 2rem;
}

#new-task > form > div:nth-child(3),
#new-task > form > div:nth-child(4) {
  justify-content: space-between;
}

#new-task .due-date-div {
  display: flex;
  flex-direction: column;
}

#new-task > form .extra-fields > div {
  align-items: center;
}

#new-task > form label {
  font-size: 0.8rem;
}

#new-task > form #due-date {
  color: #555;
  border: 1px solid;
  border-radius: 5px;
}

#new-task form .buttons {
  justify-content: end;
}

.btn-green {
  background-color: var(--lime-600);
  color: #fff;
}

.btn-green:hover {
  background-color: var(--lime-700);
}

.btn-cancel {
  background-color: var(--gris);
  color: var(--gris-oscuro);
}

.btn-cancel:hover {
  background-color: #e3e3e3;
}

/* new project window */
#new-project {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  max-width: 550px;
  width: 100%;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0px 0px 35px 2px #00000040;
}

#new-project form {
  flex-direction: column;
  padding: 2rem;
}

#new-project > form input {
  border: 1px solid var(--gris-oscuro);
  border-radius: 6px;
  outline-style: none;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}

#new-project > form input:focus {
  border: 1px solid #000;
}

#new-project > form .proj-btns {
  justify-content: flex-end;
}

/* side bar */

.side-bar {
  position: sticky;
  padding: 2rem;
  top: 44px;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  background-color: var(--gris);
}

.side-bar > div > a,
.task-header a,
.side-bar #projects a {
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  font-size: 0.8rem;
  border-radius: 8px;
  text-decoration: none;
  color: #000;
}

.side-bar > div > a:hover,
.task-header a:hover,
.side-bar .active,
.side-bar #projects a:hover {
  background-color: #00000008;
}

.side-bar #created-projects {
  flex-direction: column;
  gap: 0;
}

.side-bar #created-projects a:hover {
  color: var(--lime-600);
  transform: scale(1.1);
  margin: 2px 2rem;
  transition: all 0.2s;
}

.side-bar #projects {
  flex-direction: column;
  gap: 0;
  overflow-y: scroll;
}

.side-bar #projects a {
  margin-left: 1rem;
  cursor: pointer;
  text-decoration: none;
}

/*task header */
.task-header {
  padding: 1rem 2rem;
  grid-column: 2 / 2;
  grid-row: 2 / 3;
  align-items: center;
  justify-content: space-between;
}

/* task space */
.tasks {
  padding: 1rem 2rem;
  grid-column: 2 / 2;
  grid-row: 3 / 4;
  overflow-x: scroll;
}

/*each task*/
.task {
  margin: 1.5rem;
  padding: 1rem;
  border-bottom: 1px solid var(--gris-oscuro);
  cursor: pointer;
  transition: all 0.2s;
}

.task:hover {
  border-bottom: 2px solid var(--gris-oscuro);
}

.task > div {
  justify-content: space-between;
}

.task .display-date {
  margin: 0.5rem 0;
  font-size: 0.7rem;
}

.task .check-btn {
  cursor: pointer;
}

.task .task-description {
  font-size: 0.8rem;
  margin: 0 3rem;
  text-align: left;
}

.task .completed-task {
  text-decoration: line-through;
}

.task .mod-btns svg:hover {
  transition: all 0.2s;
  transform: scale(1.2);
}

.task .down-arrow {
  transition: all 0.2s;
}

/* hide class */

.hide {
  display: none;
}

.turn180 {
  transform: rotate(180deg);
  transition: all 0.2s;
}
